<settings>
    <servers>
        <server>
            <id>nexus-snapshots</id>
            <username>deployer</username>
            <password>abcd</password>
        </server>
        <server>
            <id>nexus-releases</id>
            <username>deployer</username>
            <password>abcd</password>
        </server>
    </servers>
</settings>